name: Beautiful Jekyll CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the site in the jekyll/builder container
        run: |
          docker run \
                -v /home/runner/work/rfc6592.github.io/rfc6592.github.io:/srv/jekyll \
                -v /home/runner/work/rfc6592.github.io/rfc6592.github.io/_site:/srv/jekyll/_site \
                -e PAGES_REPO_NWO=RFC6592/rfc6592.github.io \
                jekyll/builder:latest \
                /bin/bash -c "chmod -R 777 /srv/jekyll && bundle install && bundle exec jekyll build --future"


